<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introdução o Node.js</title>
  </head>
  <body>
    <h1><%= user %>, Bem vindo a Perfil!</h1>
    <hr />

    <br /><br />
    <a href="/">Voltar</a>
  </body>
</html>
