<%- include ('partials/header.ejs') %>

    <h1><%= user %>, Bem vindo a Perfil!</h1>
    <hr />

    <br /><br />
    <a href="/">Voltar</a>
  </body>
</html>

<%- include ('partials/footer.ejs') %>
