<footer style="background-color: #161616;position: absolute; bottom: 0; width: 100%;">
    <hr> 
    <p style="text-align: center;color: #ffff;">
      FATEC Registro &reg; 2025
    </p>
    <br>
</footer>
</body>
<script src="js/script.js"></script>
</html>